@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Jua&family=Titan+One&display=swap');
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;}



html{font-size: 10px; background-color: rgb(255, 255, 233); z-index: 1; 
    background-image: url(img/grid32.png); background-repeat: repeat;
    user-select: none;}

body{
    margin: 0px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Jua', sans-serif;
    font-family: 'Titan One', sans-serif;}

#page_bgc{
    background-color: rgb(255, 255, 233);
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
    padding: 0px 5px;
    z-index: -2;}


    .row{
        display: flex;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 5px;
        position: relative;
        box-sizing: border-box;
    }
    
    .footer{
        font-size: 15px;
        margin-top: 0px;
    }
    



.col-1{width: 8.33%; padding: 0px 10px;}
.col-2{width: 16.66%; padding: 0px 10px;}
.col-3{width: 24.99%; padding: 0px 10px;}
.col-4{width: 33.32%; padding: 0px 10px;}
.col-5{width: 41.65%; padding: 0px 10px;}
.col-6{width: 49.98%; padding: 0px 10px;}
.col-7{width: 58.31%; padding: 0px 10px;}
.col-8{width: 66.64%; padding: 0px 10px;}
.col-9{width: 74.97%; padding: 0px 10px;}
.col-10{width: 83.3%; padding: 0px 10px;}
.col-11{width: 91.63%; padding: 0px 10px;}
.col-12{width: 100%; padding: 0px 10px;}



.text-Titan{font-family: 'Titan One';}
.text-Jua{font-family: 'Jua';}
.text-Dongle{font-family: 'Dongle';}
.text-OneStore{font-family: 'ONE-Mobile-POP';}

.text-size-18pt{font-size: 1.8rem;}
.text-size-24pt{font-size: 2.4rem;}
.text-size-32pt{font-size: 3.2rem;}
.text-size-36pt{font-size: 3.6rem;}
.text-size-50pt{font-size: 5rem;}
.text-size-65pt{font-size: 6.5rem;}

.text-weight-L{font-weight: 300;}
.text-weight-R{font-weight: 400;}
.text-weight-B{font-weight: 700;}

.text-align-center{text-align: center;}
.text-align-left{text-align: left;}
.text-align-right{text-align: right;}

.text-color-white{color: white;}
.text-color-green{color: rgb(11, 178, 54);}
.text-color-brown{color: rgb(96, 54, 26);}
.text-color-red{color: rgb(193, 10, 10);}


.menu-top{position: relative; z-index: 2; margin: 0px;}


.footer{margin-top: 250px; margin-bottom: 30px;}


#aplzImg{margin: 0px; width: 100%;}





#stickerContainer{
    position: absolute;
    z-index: 2;
    margin: 0px;}



#letterFujiPage1{
    width: 450px;
    height: 270px;
    position: absolute;
    top: 180px;
    left: 25px;
    background-image: url("img/letterFuji.png");
    background-size: cover;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;}

#letterFujiPage1:hover{
    transform: rotate(20deg);
    background-image: url("img/letterFuji.png");}


#letterYellowPage1{
    width: 38px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 40px;
    background-image: url("img/letterYellow.png");
    background-size: cover;}

#letterAoriPage1{
    width: 400px;
    height: 220px;
    top: 200px;
    background-image: url("img/letterAori.png");
    background-size: cover;
    position: absolute;
    transform: rotate(-15deg);}

#letterAoriPage1:hover{
    transform: rotate(15deg);
    background-image: url("img/letterAori.png");}

#letterHongokPage1{
    width: 250px;
    height: 130px;
    top: 250px;
    background-image: url("img/letterHongOK.png");
    background-size: cover;
    position: absolute;
    transform: rotate(15deg);
    transition: transform;
    transition-duration: 0.5;}

#letterHongokPage1:hover{
    transform: rotate(15deg);
    background-image: url("img/letterHongOKB.png");}





#stickerPage1Flower1{
    background-image: url(img/flower.png);
    width: 110px;
    height: 110px;
    top: 300px;
    left: 60px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;}

#stickerPage1Flower1:hover{
    transform: rotate(20deg);
    background-image: url("img/flowerSmile.png");}

#stickerPage1MiniAplz{
    background-image: url(img/miniaplz.png);
    width: 100px;
    height:100px;
    margin-top: 600px;
    margin-left: 300px;
    background-size: cover;
    position: absolute;
    z-index: 2;}
    
#stickerPage1LetterAori{
    background-image: url(img/letterAori.png);
    width: 340px;
    height: 200px;
    margin-top: 1000px;
    margin-left: 60px;
    background-size: cover;
    position: absolute;
    transform: rotate(20deg);
    z-index: 2;}

#stickerPage1Flower2{
    background-image: url(img/flower.png);
    width: 100px;
    height: 100px;
    top: 1100px;
    left: 280px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;}

#stickerPage1Flower3{
    background-image: url(img/flower.png);
    width: 130px;
    height: 130px;
    top: 1300px;
    left: 80px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;}
    
#stickerPage1Flower3:hover{
    transform: rotate(20deg);
    background-image: url("img/petal.png");}

#stickerPage1LetterRedDown{
    background-image: url(img/letterRedDown.png);
    width: 250px;
    height: 250px;
    top: 1550px;
    left: 160px;
    background-size: cover;
    position: absolute;
    z-index: 2;}


#stickerPage1Glitter1{
    background-image: url(img/glitter.png);
    width: 30px;
    height: 45px;
    margin-top: 375px;
    margin-left: 1335px;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

#stickerPage1Glitter2{
    background-image: url(img/glitter.png);
    width: 40px;
    height: 60px;
    margin-top: 410px;
    margin-left: 1300px;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

#stickerPage1EyeSticker1{
    background-image: url(img/eyesSticker.png);
    width: 250px;
    height: 130px;
    margin-top: 680px;
    margin-left: 1350px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;}

#stickerPage1EyeSticker1:hover{
    transform: rotate(20deg);
    background-image: url(img/eyesSticker.png);}


#aplzAll{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;}

#aplzAllBG{
    background-image: url(img/aplzAll.png);
    background-size: cover;
    width: 100%;
    height: 450px;
    position: relative;
    top: 0px;
    left: 0px;}


#mainImage{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}




    @media(max-width:768px)
{
    *{
        font-size: 30px;
    }


    #page_bgc{
        background-color: rgb(255, 255, 233);
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
        z-index: -2;}

    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row2{
      width: 100%;
      display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    }

    .col-1{width: 8.33%; padding: 0px 10px;}
    .col-2{width: 16.66%; padding: 0px 10px;}
    .col-3{width: 24.99%; padding: 0px 10px;}
    .col-4{width: 33.32%; padding: 0px 10px;}
    .col-5{width: 41.65%; padding: 0px 10px;}
    .col-6{width: 49.98%; padding: 0px 10px;}
    .col-7{width: 58.31%; padding: 0px 10px;}
    .col-8{width: 66.64%; padding: 0px 10px;}
    .col-9{width: 74.97%; padding: 0px 10px;}
    .col-10{width: 83.3%; padding: 0px 10px;}
    .col-11{width: 91.63%; padding: 0px 10px;}
    .col-12{width: 100%; padding: 0px 10px;}

    
    .footer{
        font-size: 5px;
        margin-top: 0px;
        display: none;
    }


#stickerContainer{
    position: absolute;
    z-index: 2;
    margin: 0px;
    display: none;}
    

#letterFujiPage1{
    width: 280px;
    height: 200px;
    position: absolute;
    top: 22%;
    left: 22%;
    background-image: url("img/letterFuji.png");
    background-size: cover;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;}

#letterFujiPage1:hover{
    transform: rotate(20deg);
    background-image: url("img/letterFuji.png");}


#letterYellowPage1{
    width: 38px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 40px;
    background-image: url("img/letterYellow.png");
    background-size: cover;}

#letterAoriPage1{
    width: 300px;
    height: 180px;
    top: 22%;
    left: 28%;
    background-image: url("img/letterAori.png");
    background-size: cover;
    position: absolute;
    transform: rotate(-15deg);}

#letterAoriPage1:hover{
    transform: rotate(15deg);
    background-image: url("img/letterAori.png");}

#letterHongokPage1{
    width: 170px;
    height: 90px;
    top: 90%;
    left: 20%;
    background-image: url("img/letterHongOK.png");
    background-size: cover;
    position: absolute;
    transform: rotate(15deg);
    transition: transform;
    transition-duration: 0.5;}


#letterHongokPage1:hover{
    transform: rotate(15deg);
    background-image: url("img/letterHongOKB.png");}





#stickerPage1Flower1{
    background-image: url(img/flower.png);
    width: 100px;
    height: 100px;
    top: 300px;
    left: 60px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;
    display: none;
}


#stickerPage1Glitter1{
    background-image: url(img/glitter.png);
    width: 30px;
    height: 45px;
    margin-top: 375px;
    margin-left: 1335px;
    background-size: cover;
    position: absolute;
    z-index: 2;
    display: none;
}

#stickerPage1Glitter2{
    background-image: url(img/glitter.png);
    width: 40px;
    height: 60px;
    margin-top: 410px;
    margin-left: 1300px;
    background-size: cover;
    position: absolute;
    z-index: 2;
    display: none;
}

#stickerPage1EyeSticker1{
    background-image: url(img/eyesSticker.png);
    width: 250px;
    height: 130px;
    margin-top: 680px;
    margin-left: 1350px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;
    display: none;}

#stickerPage1MiniAplz{
    background-image: url(img/miniaplz.png);
    width: 70px;
    height: 70px;
    margin-top: 900px;
    margin-left: 360px;
    background-size: cover;
    position: absolute;
    z-index: 2;
    display: none;}

#stickerPage1LetterAori{
    background-image: url(img/letterAori.png);
    width: 340px;
    height: 200px;
    margin-top: 1000px;
    margin-left: 60px;
    background-size: cover;
    position: absolute;
    transform: rotate(20deg);
    z-index: 2;
    display: none;}


#stickerPage1Flower2{
    background-image: url(img/flower.png);
    width: 100px;
    height: 100px;
    top: 1100px;
    left: 280px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    display: none;}

#stickerPage1Flower3{
    background-image: url(img/flower.png);
    width: 130px;
    height: 130px;
    top: 1300px;
    left: 80px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;
    display: none;}
    
#stickerPage1Flower3:hover{
    transform: rotate(20deg);
    background-image: url("img/petal.png");}

#stickerPage1LetterRedDown{
    background-image: url(img/letterRedDown.png);
    width: 250px;
    height: 250px;
    top: 1550px;
    left: 160px;
    background-size: cover;
    position: absolute;
    z-index: 2;
    display: none;}


#stickerPage1Glitter1{
    background-image: url(img/glitter.png);
    width: 30px;
    height: 45px;
    margin-top: 375px;
    margin-left: 1335px;
    background-size: cover;
    position: absolute;
    z-index: 2;
    display: none;}

#stickerPage1Glitter2{
    background-image: url(img/glitter.png);
    width: 40px;
    height: 60px;
    margin-top: 410px;
    margin-left: 1300px;
    background-size: cover;
    position: absolute;
    z-index: 2;
    display: none;}

#stickerPage1EyeSticker1{
    background-image: url(img/eyesSticker.png);
    width: 250px;
    height: 130px;
    margin-top: 680px;
    margin-left: 1350px;
    background-size: cover;
    position: absolute;
    transform: rotate(-20deg);
    z-index: 2;
    transition: transform;
    transition-duration: 0.5;
    display: none;}

#stickerPage1EyeSticker1:hover{
    transform: rotate(20deg);
    background-image: url(img/eyesSticker.png);}

    
#aplzAll{
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    align-items: center;}

#aplzAllBG{
    background-image: url(img/aplzAll.png);
    background-size: cover;
    width: auto;
    height: 225px;
    position: relative;
    top: 0px;
    left: 0px;}


}



/*#row4{
    /*display: none;*/ /*영역지정조차X*/
    /*visibility: hidden;*/ /*영역은 남아있으나 보이지X. 시각적으로만X*/
    /*opacity: 0;*/ /*내용이 있어 작동은 하나 시각적으로 보이지X
}
*/
